body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
}

main {
  margin-top: 50px;

  h2 {
    background: -webkit-linear-gradient(left, #00b7ff, #008000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .buttons {
    margin-top: 40px;

    .button {
      padding: 10px 20px;
      font-size: 1.2rem;
      border: none;
      border-radius: 5px;
      color: #fff;
      background-color: #28a745;
      text-decoration: none;
      margin-right: 10px;

      &:hover {
        background-color: #218838;
      }

      &.button-secondary {
        background-color: #007bff;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  #db-status {
    margin-top: 20px;
    font-size: 1em;
    color: $primary-color;
  }
}


