doctype html
html(lang="zh")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href="/stylesheets/style.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script.
      $(document).ready(function() {
        setTimeout(function() {
          $.get("/db-status", function(data) {
            $('#db-status').text(data.status);
          }).fail(function() {
            $('#db-status').text("无法获取数据库状态");
          });
        }, 800);
      });
  body
    header
      h1= title
      nav
        a(href="https://github.com/MooreFoss/SocialNetSpyder") GITHUB
    
    main
      section
        h2 一个用于调查社交网站传播路径的工具（开发中）
        .buttons
          a.button.use(href="#") 使用
          a.button.wiki(href="#") 文档
      div#db-status(style="text-align: center; margin-top: 20px;") 正在检查数据库状态...

    footer
      p © 2024 SocialNetSpyder
      a(href="https://beian.miit.gov.cn") 京ICP备2024049257号-1
