doctype html
html(lang="zh")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= message || '出错了'
    link(rel="stylesheet" href="/stylesheets/error.css")
  body
    main
      block content
    footer
      p © 2024 SocialNetSpyder