doctype html
html(lang="zh")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 登录
    link(rel="stylesheet" href="/stylesheets/login.css")
    script(src="/javascripts/jquery-3.6.0.min.js")
  body
    main
      h2 登录
      form#loginForm(action="/login", method="post")
        label(for="username") 用户名:
        input#username(type="text" name="username" required)
        br
        label(for="password") 密码:
        input#password(type="password" name="password" required)
        br
        button(type="submit") 登录
      p#error-message 用户名或密码错误
      p.register-link 
        | 还没有账号？
        a(href="/register") 立即注册

    script.
      $(document).ready(function() {
        $('#loginForm').submit(function(event) {
          event.preventDefault();
          const username = $('#username').val();
          const password = $('#password').val();

          $.ajax({
            type: 'POST',
            url: '/login',
            data: { username, password },
            success: function(response) {
              window.location.href = '/manage';
            },
            error: function(xhr) {
              if (xhr.status === 400) {
                $('#error-message').text(xhr.responseJSON.msg).show();
              } else {
                $('#error-message').text('服务器错误').show();
              }
            }
          });
        });
      });